/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/credit_deduction_log
storage/debugbar
.env
.env.testing
.env.backup
.idea
.phpunit.result.cache
.editorconfig
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.gitignore
.env.dev
.env.testing
storage/invoices.zip
storage/app/public/logo.png
*vscode
 - Kopie.env
public/install/logs.txt
install.lock
public/install/logs/installer.log
